<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="footer">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Footer</title>
        <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    </head>
    <body>
        <footer th:fragment="footer">
                <p>TCIGTB Control Panel - Copyright &copy; TCIGTB</p>
        </footer>
    </body>
</html>
