<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"> <!--responsive on mobile-->
    <title>Home - TCIGTB Admin</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/> <!--th to interpret and render url properly, relative to the app context-path-->
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <!-- Favicons starts here -->
    <link rel="apple-touch-icon" sizes="57x57" href="../static/assets/icons/favicon_package/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../static/assets/icons/favicon_package/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../static/assets/icons/favicon_package/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../static/assets/icons/favicon_package/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../static/assets/icons/favicon_package/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../static/assets/icons/favicon_package/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../static/assets/icons/favicon_package/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../static/assets/icons/favicon_package/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/assets/icons/favicon_package/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../static/assets/icons/favicon_package/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/assets/icons/favicon_package/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../static/assets/icons/favicon_package/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/assets/icons/favicon_package/favicon-16x16.png">
    <link rel="manifest" href="../static/assets/icons/favicon_package/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Favicons ends here -->
  </head>
  <body>
  <header th:insert="header :: head"></header> <!-- header fragment -->

      <div>
        <h1>TCIGTB Control Panel</h1>
      </div>

      <div th:replace="footer :: footer"></div>
    </div>
  </body>
</html>